namespace: ${NAMESPACE}

namePrefix: devworkspace-che-

commonLabels:
  app.kubernetes.io/name: devworkspace-che-operator
  app.kubernetes.io/part-of: devworkspace-che-operator
  
bases:
- ../components/manager
- ../components/rbac
- ../crd

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: configmap
  envs:
  - config.properties

patchesStrategicMerge:
- manager_image_patch.yaml
